.nav-sci{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-textt{
  color: #333333;
    font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-textt-b{
  color: #333333;
  font-family: Roboto Mono;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
}


.nav-textt:hover{
  color: #000;
}

.nav-link-text:hover{
  color: #000;
  animation: linktext 0.25s linear;
  animation-fill-mode: forwards;
  -webkit-text-stroke-color: #333333;
  border-bottom: 0.1px solid #9c9c9c;
}

.active{
  -webkit-text-stroke-color: #333333;
  -webkit-text-stroke-width: 1px;
  border-bottom: 0.1px solid #9c9c9c;
  background-color: #fdfdfd;
}

@keyframes linktext{
  0%{
    -webkit-text-stroke-width: 0px;
  }
  15%{
    -webkit-text-stroke-width: .2px;
  }
  25%{
    -webkit-text-stroke-width: .4px;
  }
  50%{
    -webkit-text-stroke-width: .6px;
  }
  75%{
    -webkit-text-stroke-width: .8px;
  }
  100%{
    -webkit-text-stroke-width: 1px;
  }
}
  
