.article{
    transition: .25s;
    overflow: hidden;
}

.article:hover{
    background-color: #e8e8e8;
    
}

.article img{
    transition: transform .5s ease;
}

.article:hover img{
    transform: scale(1.1);
}

