

.show-button{
    background-color: #FCFCFC;
    
    width: 50vw;
    height: 25vh;
    background: #FCFCFC;
    transition: background 1s ease-in-out;
    padding: 0px;
    
}

.button-text-linker{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.09em;
    color: #FA8231;
}

.button-text-linker:hover{
    text-decoration: none;
    color: #FA8231;

}

.show-button:hover .paperplane{
    animation-play-state: running;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}

.show-button:hover #body{
    animation-play-state: running;

}

.show-button:hover{
    animation: bg-change 0.25s linear;
    animation-fill-mode: forwards;

}
.show-button:hover #Schulnews{
    animation-play-state: running;
    filter: none;

}
.show-button:hover #Schulnews-1{
    animation-play-state: running;
    filter: none;
}



#body{
    animation: body 2s infinite linear alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    animation-play-state: paused;
}
#ding{
    animation: ding 2s infinite linear alternate;
}

#Schulnews{
    animation: button-ani 0.42s infinite linear alternate-reverse;
    animation-play-state: paused;
}

#Schulnews-1{
    animation: button-ani 0.42s infinite linear alternate-reverse;
    animation-play-state: paused;
}

#badge {
    background-color: #74b9ff;
}


#more {display: none;}


/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: rgb(122, 122, 122);
    color: white;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
 #navbar {
    background-color: #74b9ff;
 }
  /* Page content */
  .content {
    padding: 16px;

  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 1110px;
    justify-content: center;
    align-items: center;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  /* News Seite */

  .newsimage {
    width: 100%;
  }
  .newscategory {
    color:#0080ff;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
    text-align: center;
  }
  .titlenews {
    color: #000000;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
    text-align: center;
  }
  .newstime {
    color: #f5f5f5;
    outline-color: #f5f5f5;
    text-align: center;
  }


  /* History */
  .timeline{
    position:relative;
    margin-bottom:100px;
    z-index:1;
}

.timeline:before{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100%;
    left:1px;
    top:0;
    border-right:1px solid #74b9ff;
    z-index:-1;
} 

.timeline:after{
    display:block;
    content:"";
    position:absolute;
    width:50%;
    height:100px;
    left:1px;
    bottom:-105px;
    border-right:1px dashed #74b9ff;
    z-index:-1;
} 

.timeline .date-title{
    text-align:center;
    margin:70px 0 50px;
}

.timeline .date-title span{
    padding:15px 30px;
    font-size:21px;
    font-weight:400;
    color:#fff;
    background:#74b9ff;
    border-radius:5px;
}

.news-item {
    padding-bottom:45px;
}

.news-item.right {
    float:right;
    margin-top:40px;
    padding-bottom:45px;
}

.news-content .date {
    position:absolute;
    width:80px;
    height:80px;
    left:10px;
    text-align:center;
    color:#74b9ff;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}
.news-content .date p{
    margin:0;
    font-size:48px;
    font-weight:600;
    line-height:48px;
}

.news-item .news-content {
    margin:20px 30px 0 0;
    position:relative;
    padding:30px;
    padding-left:100px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.news-item:hover .news-content {
    background:#74b9ff;
    color:#fff;
}

.news-item.right .news-content {
    margin:20px 0 0 30px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
}

.news-item .news-content:after {
    display:block;
    content:"";
    position:absolute;
    top:50px;
    right:-40px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.news-item.right .news-content:after {
    display:block;
    position:absolute;
    top:50px;
    left:-40px;
    right:auto;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.news-item:hover .news-content:after {
    border-left-color:#74b9ff;
}

.news-item.right:hover .news-content:after {
    border-left-color:transparent;
    border-right-color:#74b9ff;
}

.news-item .news-content:before {
    display:block;
    content:"";
    position:absolute;
    width:20px;
    height:20px;
    right:-55px;
    top:60px;
    background:#74b9ff;
    border:3px solid #fff;
    border-radius:50%;
    -webkit-transition:background .3s ease-out;
    transition:background .3s ease-out;
}

.news-item.right .news-content:before {
    display:block;
    content:"";
    position:absolute;
    left:-55px;
    right:auto;
}

.news-content .date {
    position:absolute;
    width:80px;
    height:80px;
    left:10px;
    text-align:center;
    color:#74b9ff;
    -webkit-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

.news-item:hover .news-content .date {
    color:#fff;
}

.news-content .date p{
    margin:0;
    font-size: 30px;    
    font-weight:600;
    line-height:48px;
}

.news-content .date small{
    margin:0;
    font-size:26px;
    font-weight:300;
    line-height:24px;
}

.news-content .news-title{
    font-size:20px;
    font-weight:300;
}

.news-content p{
    font-size:16px;
    line-height:24px;
    font-weight:300;
    letter-spacing:0.02em;
    margin-bottom:10px;
}

.news-content .read-more,
.news-content .read-more:hover,
.news-content .read-more:active,
.news-content .read-more:focus{
    padding:10px 0;
    text-decoration:none;
    font-size:16px;
    color:#7A7C7F;
    line-height:24px;
}

.news-item:hover .news-content .read-more,
.news-item:hover .news-content .read-more:hover,
.news-item:hover .news-content .read-more:active,
.news-item:hover .news-content .read-more:focus{
    color:#fff;
}

.news-content .read-more{
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.news-content .read-more:hover {
    padding-left:7px;
}

.news-content .read-more:after{
    content:'\f054';
    padding-left:15px;
    font-family:'FontAwesome';
    font-size:21px;
    line-height:21px;
    color:#74b9ff;
    vertical-align:middle;
    -webkit-transition:padding .3s ease-out;
    transition:padding .3s ease-out;
}

.news-content .read-more:hover:after{
    padding-left:20px;
}

.news-item:hover .news-content .read-more:after{
    color:#fff;
}