.background-test {
    height: 100%;
    background:  #157ca4;
    margin-top: -3vh;
    padding-bottom: 10vh;
}

.sizer{
    max-height: 400px;
}


.text-box-link {
    margin-left: 44vw;
    margin-top: 42vh;
}

.btn-sp:link,
.btn-sp:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn-sp:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-sp:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-sp-white {
    background-color: #fff;
    color: #353b48;
}

.btn-sp-blue {
    background-color: #3661be;
    color: #cfd4df;
}

.btn-sp::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
/*
a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    color:inherit;
    text-decoration: none;
}

a:active{
    color:inherit;
    text-decoration: none;
}

a:visited{
    color:inherit;
    text-decoration: none;
}*/

.background-change{
    opacity: 0.8;
    transition: 0.3s;
}

.background-change:hover{
    opacity: 1;
    background-color: #f5f6fa;
    border-radius: 10px;
}

.btn-sp-white::after {
    background-color: #fff;
}

.btn-sp-blue::after {
    background-color: #b4bbc9;
}

.btn-sp:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-sp-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.white-link{
    color: #ecf0f1;
}

.white-link:hover{
    color: #e67e22;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    list-style: none;
    }
    
    .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 35px;
    }

    .donut-guy{
        
    }

    #pizza{
        animation: pizza 1s infinite linear alternate;

    }

    #Leftarm{
        animation: leftarm-rotate 2s infinite linear;
        transform-origin: center;
    }

    #EyeLeft{
        animation: eye 2s infinite linear;
    }

    #EyeRight{
        animation: eye 2s infinite linear;
    }

    #Mouth{
        animation: eye 2s infinite linear;
    }



    @keyframes leftarm-rotate{
        0%, 50%, 100%{
            transform: rotateZ(0deg);
        }
        25%{
            transform: rotateZ(-5deg);
        }
        75%{
            transform: rotateZ(5deg);
        }
    }

    @keyframes eye{
        0%, 100%{
            transform: translateY(0);
        }
        25%{
            transform: translateY(0.5px);
        }
        75%{
            transform: translateY(-0.5px);
        }
    }

    @keyframes pizza{
        0% { transform: translateY(0); }
        100% { transform: translateY(-3px); }
    }
    
    .inactive { 
        color: #ccc;
        background-color: #fafafa;
    } 

    .btn-success {
        box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
        background-color:#5cb85c;
    }

    .btn3d {
        transition:all .08s linear;
        position:relative;
        outline:medium none;
        -moz-outline-style:none;
        border:0px;
        margin-right:10px;
        margin-top:15px;
    }
    .btn3d:focus {
        outline:medium none;
        -moz-outline-style:none;
    }
    .btn3d:active {
        top:9px;
    }

    .sandbox-correct-pronounciation {
        padding: 1em 0 1em 0;
            background-color: #5774b8;
      }
      
      .heading-correct-pronounciation {
      
        margin: auto;
        text-align: center;
        position: relative;
      }

      h5.stylehead {
 
        font-family: 'Cardo', serif;
        font-size: 1.5em;
        font-weight: normal;
        font-style: italic;
        letter-spacing: 0.1em;
        line-height: 2.2em;
        color:#fff;
      }

      em {
        font-family: 'EB Garamond', serif;
        font-size: 3.5em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: block;
        font-style:normal;
        padding-top: 0.1em;
        text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
        
        &::before, &::after {
        content: "§";
        display: inline-block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
          opacity: 0.2;
        margin: 0 0.6em;
        font-size: 0.5em;
      }
      
      }

      .btn span.glyphicon {    			
        opacity: 0;				
    }
    .btn.active span.glyphicon {				
        opacity: 1;				
    }